<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:metrics="http://www.ryantenney.com/schema/metrics"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.ryantenney.com/schema/metrics
       http://www.ryantenney.com/schema/metrics/metrics.xsd
       ">
    <!-- Metrics 配置文件 -->
    <metrics:annotation-driven metric-registry="metric" health-check-registry="health" proxy-target-class="true"/>
    <metrics:metric-registry id="metric"/>
    <!--健康检查 具体使用方法请参见http://colobu.com/2014/08/08/Metrics-and-Spring-Integration/-->
    <metrics:health-check-registry id="health"/>
    <!--
        Attributes
            id - the bean name
            metric-registry - the id of the MetricRegsitry bean for which the reporter should retrieve metrics
            type - the type of the reporter. Additional types may be registered through SPI (more on this later).
                console: ConsoleReporter
                jmx: JmxReporter
                slf4j: Slf4jReporter
                ganglia: GangliaReporter (requires metrics-ganglia)
                graphite: GraphiteReporter (requires metrics-graphite)
            period="1m" 设置显示时间间隔
    -->
    <metrics:reporter type="console" metric-registry="metric" period="1m"/>
    <metrics:register metric-registry="metric">
        <bean metrics:name="jvm.gc" class="com.codahale.metrics.jvm.GarbageCollectorMetricSet"/>
        <bean metrics:name="jvm.memory" class="com.codahale.metrics.jvm.MemoryUsageGaugeSet"/>
        <bean metrics:name="jvm.thread-states" class="com.codahale.metrics.jvm.ThreadStatesGaugeSet"/>
        <bean metrics:name="jvm.fd.usage" class="com.codahale.metrics.jvm.FileDescriptorRatioGauge"/>
    </metrics:register>
</beans>
